@import "../../index.scss";

.btn {
    background-color: $neon;
    color: $black;
    font-weight: bold;
    padding: 1em 2em;
    border: 3px solid $black;
    border-radius: 16px;
    box-shadow: 0 0 0 rgba($neon, 0.8);
    transition: .5s;

    &-pulse {
        animation: pulse 2s infinite;
    }

    &-border {
        border: 3px solid $white;
    }
}

.btn:hover {
    background-color: $neon-secondary;
}


@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba($neon, 0.8);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px rgba($neon, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba($neon, 0);
    }
}