@import "../../index.scss";

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .task__name,
    .goal {
        font-weight: bold;
        line-height: 45px;
        text-align: center;
    }

    .blank {
        width: 45px;
        height: 45px;
    }

    .blank,
    input {
        border-radius: 8px;
        border: 1.5px solid $black;
        background-color: $white;
    }
}