@import "../../index.scss";

@page {
    size: A4;
    margin: 0;
}

.create {
    color: $black;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;

    .howto {
        border-top: 1px solid $gray;
        color: $white;
        padding: 2em;
        text-align: left;

        &__list {
            margin-top: 1em;
            padding-left: 3em;

            .underline {
                text-decoration: underline;
            }

            li {
                line-height: 40px;
            }

            ul {
                padding-left: 2em;
                list-style: disc;
            }
        }
    }

    .pdf {
        display: inline-block;
        position: relative;
        height: 297mm;
        width: 210mm;
        font-size: 12pt;
        margin: 0 auto;
        padding: calc(0.5cm + 1cm);
        background-color: $neon-white;

        input {
            border-radius: 8px;
            border: 1.5px solid $black;
            background-color: $white;
        }

        &__data {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title,
            .date {
                font-weight: bold;
                text-align: center;
                height: 45px;
            }
        }

        &__form {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: 1fr 1fr 1fr;
            margin-top: 5em;
            text-align: center;
            place-items: center;

            .day {
                font-weight: bold;
                width: 50px;
            }

            .day1 {
                grid-area: 1 / 2 / 1 / 2;
            }

            .day2 {
                grid-area: 1 / 3 / 1 / 3;
            }

            .day3 {
                grid-area: 1 / 4 / 1 / 4;
            }

            .day4 {
                grid-area: 1 / 5 / 1 / 5;
            }

            .day5 {
                grid-area: 1 / 6 / 1 / 6;
            }

            .day6 {
                grid-area: 1 / 7 / 1 / 7;
            }

            .day7 {
                grid-area: 1 / 8 / 1 / 8;
            }

            .task__name,
            .goal {
                font-weight: bold;
                line-height: 45px;
                text-align: center;
            }

            .task__name {
                grid-area: 2 / 1 / 2 / 1;
            }

            .blank {
                width: 45px;
                height: 45px;
                text-align: center;
            }

            .blank,
            input {
                border-radius: 8px;
                border: 1.5px solid $black;
                background-color: $white;
            }

            .blank1 {
                grid-area: 2 / 2 / 2 / 2;
            }

            .blank2 {
                grid-area: 2 / 3 / 2 / 3;
            }

            .blank3 {
                grid-area: 2 / 4 / 2 / 4;
            }

            .blank4 {
                grid-area: 2 / 5 / 2 / 5;
            }

            .blank5 {
                grid-area: 2 / 6 / 2 / 6;
            }

            .blank6 {
                grid-area: 2 / 7 / 2 / 7;
            }

            .blank7 {
                grid-area: 2 / 8 / 2 / 8;
            }

            .goal {
                grid-area: 2 / 9 / 2 / 9;
            }
        }
    }
}

@media screen {
    .pdf::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: calc(100% - 0.5cm * 2);
        height: calc(100% - 0.5cm * 2);
        margin: 0.5cm;
        outline: thin dashed black;
        pointer-events: none;
        z-index: 9999;
    }
}

@media print {
    .pdf {
        margin: 0;
        overflow: hidden;
    }
}