@import "../../index.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    height: 5em;
    margin: 0 .5em;
    padding: 1em 0;

    &__logo img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu {
        .cta {
            background-color: $neon;
            text-transform: uppercase;
            padding: .5em 1em;
            color: $black;
            border-radius: 16px;
            border: 3px solid $white;
            font-weight: bold;
            transition: .6s;
        }

        .cta:hover {
            background-color: $neon-secondary;
        }
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        width: 1000px;
        margin: 0;
    }
}

@media screen and (min-width: 2560px) {
    .navbar {
        height: 7em;

        &__logo img {
            width: 150px;
        }

        &__menu .cta {
            font-size: 1.7rem;
        }
    }
}