@import "./variables.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $white;
  background-color: $red;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  min-width: 280px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.font__size-regular-large {
  font-size: $fontsize-primary;
}

section {
  padding: 4em 2em 0 2em;
  margin: 0 auto;

  h2 {
    border-left: 5px solid $neon;
    text-align: left;
    padding-left: .25em;
  }
}

.footer {
  position: relative;
  bottom: 0;
}

.bold {
  font-weight: bold;
}

.btn {
  background-color: $neon;
  color: $black;
  font-weight: bold;
  padding: 1em 2em;
  border: 3px solid $black;
  border-radius: 16px;
  box-shadow: 0 0 0 rgba($neon, 0.8);
  transition: .5s;

  &-pulse {
    animation: pulse 2s infinite;
  }

  &-border {
    border: 3px solid $white;
  }
}

.btn:hover {
  background-color: $neon-secondary;
}


@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($neon, 0.8);
  }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba($neon, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba($neon, 0);
  }
}

@media screen and (min-width: 1200px) {
  section {
    width: 800px;
  }
}

@media print {
  .no__print {
    display: none;
  }
}