//COLORS
$white: #ffffffde;
$black: #242424;
$red: #4a0d0d;
$black-secondary: #5A5454;
$neon: #d3b50c;
$neon-secondary: #9d8708;
$neon-white: #F7F7F0;
$gray: #44443b;

//FONTS
$fontsize-primary: 1.5rem;
